<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="developer.code.kpchandora.locationassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_pin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_pin"
        android:supportsRtl="true"
        android:theme="@style/LocationActivityStyle">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LocationActivityStyle" />

        <service android:name=".service.LocationService" />

        <receiver android:name=".receiver.NotificationBroadcastReceiver"/>

        <service
            android:name=".service.MyJobService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/history_activity"
            android:theme="@style/HistoryActivityStyle" />

        <activity
            android:name=".Locations"
            android:theme="@style/LocationActivityStyle" />
        <activity android:name=".DetailsActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key"/>

    </application>

</manifest>